<section class="container-fluid text-white">
    <div class="row">
        <div
            class="col-md-6 col-sm-12 bg-dark d-flex flex-column align-items-center justify-content-center"
        >
            <!-- Application Form -->
            <form id="application-form" class="card p-4 m-4 gap-4 w-100">
                <h4><b>Add an Application</b></h4>

                <div class="mb-1">
                    <label for="applicationInput" class="form-label">
                        Company
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationInput"
                        name="company"
                        value="{{ application.company }}"
                        required
                    />
                </div>

                <div class="mb-1">
                    <label for="applicationPositionInput" class="form-label">
                        Position
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationPositionInput"
                        name="position"
                        value="{{ application.position }}"
                        required
                    />
                </div>

                <div class="mb-1">
                    <label for="applicationStatusInput" class="form-label">
                        Application Status
                    </label>
                    <select
                        id="applicationStatusInput"
                        class="form-select"
                        name="status"
                        required
                    >
                        {{#select application.status}}
                        <option value="1">{{displayStatus 1}}</option>
                        <option value="2">{{displayStatus 2}}</option>
                        <option value="3">{{displayStatus 3}}</option>
                        <option value="4">{{displayStatus 4}}</option>
                        <option value="5">{{displayStatus 5}}</option>
                        <option value="6">{{displayStatus 6}}</option>
                        <option value="7">{{displayStatus 7}}</option>
                        <option value="8">{{displayStatus 8}}</option>
                        {{/select}}
                    </select>
                </div>

                <div class="mb-1">
                    <label for="applicationWorkSettingInput" class="form-label">
                        Work Setting
                    </label>
                    <select
                        id="applicationWorkSettingInput"
                        class="form-select"
                        name="work_site"
                        required
                    >
                        {{#select application.interest_level}}
                        <option value="1">{{displayWorkSite 1}}</option>
                        <option value="2">{{displayWorkSite 2}}</option>
                        <option value="3">{{displayWorkSite 3}}</option>
                        {{/select}}
                    </select>
                </div>

                <div class="mb-1">
                    <label for="applicationRatingInput" class="form-label">
                        Interest Level
                    </label>
                    <br />
                    <div class="rate">
                        <input type="radio" id="star5" name="interest_level"
                        value="5"
                        {{#if (eq application.interest_level 5)}}checked{{/if}}
                        />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="interest_level"
                        value="4"
                        {{#if (eq application.interest_level 4)}}checked{{/if}}
                        />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="interest_level"
                        value="3"
                        {{#if (eq application.interest_level 3)}}checked{{/if}}
                        />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="interest_level"
                        value="2"
                        {{#if (eq application.interest_level 2)}}checked{{/if}}
                        />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="interest_level"
                        value="1"
                        {{#if (eq application.interest_level 1)}}checked{{/if}}
                        />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>

                <div class="mb-1">
                    <label for="applicationAddressInput" class="form-label">
                        Office Address (If Applicable):
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationAddressInput"
                        value="{{ application.location }}"
                        name="location"
                    />
                </div>

                <div class="mb-1">
                    <label for="applicationLinkInput" class="form-label">
                        Job Posting Link:
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationLinkInput"
                        value="{{ application.link_to_posting }}"
                        name="link_to_posting"
                    />
                </div>

                <div class="mb-1">
                    <label for="applicationNotesInput" class="form-label">
                        Additional Notes:
                    </label>
                    {{!--
                    <textarea
                        type="text"
                        class="form-control"
                        id="applicationNotesInput"
                        name="notes"
                        value="{{ application.notes }}"
                    ></textarea>
                    --}}

                    <!-- Create the editor container -->
                    <div id="editor">
                        <p>
                            {{#if application}}{{{ application.notes
                            }}}{{else}}Your Notes Here{{/if}}
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {{#if application}}Update{{else}}Submit{{/if}}
                    </button>
                </div>
            </form>
        </div>

        <div
            class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
        >
            <img class="m-4 w-100" src="/images/AppTrack-Logo.png" alt="logo" />
        </div>
    </div>
</section>



<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    const quill = new Quill('#editor', {
        theme: 'snow',
    });
</script>

<script src="/js/application.js"></script>