<section class="container-fluid d-flex justify-content-around flex-wrap w-100">
    <!-- Applications Submitted -->
    <div class="card m-4 w-30 flex-fill">
    <div class="card-header">
        <h4>Applications Submitted</h4>
    </div>
    <div class="card-body">
        <h4>{{applicationCount}}</h4>
    </div>
    </div>
{{!-- Interviews Scheduled --}}
    <div class="card m-4 w-30 flex-fill">
    <div class="card-header">
        <h4>Interviews Scheduled</h4>
    </div>
    <div class="card-body">
        <h4>{{interviewCount}}</h4>
    </div>
    </div>
{{!-- Offers Received --}}
    <div class="card m-4 w-30 flex-fill">
    <div class="card-header">
        <h4>Offers Received</h4>
    </div>
    <div class="card-body">
        <h4>{{offerCount}}</h4>
    </div>
    </div>
</section>

<section class="container-xxl m-6 w-100" id="tableContainer">
    <section class="card p-0 mw-100">
    <table class="table table-hover">
    <div class="card-header">
        <h4>Job Applications</h4>
    </div>
    <thead class="thead-light">
        <tr>
        <th scope="col">Company</th>
        <th scope="col">Position</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each applications as |app|}}
        <tr>
            <td>{{app.company}}</td>
            <td><a href="/api/application/{{app.id}}">{{app.position}}</a></td>
            <td><span class="badge bg-pill {{getStatusBadgeClass app.status}}">{{displayStatus app.status}}</span></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    </section>
</section>
