<section class="container-fluid">
    <div class="card border row-gap-4 p-4 m-4">
        <div class="row align-items-start border-bottom">
            {{!-- Header - Company & Position Section --}}
            <div class="d-flex mb-3 align-items-center">
                <div class="me-auto p-2">
                    <h2>
                        {{ application.position }}, {{ application.company }}
                    </h2>
                </div>
                <div class="me-auto p-2">
                    <h3>
                        <span
                            class="badge bg-pill {{getStatusBadgeClass application.status}}"
                        >
                            {{displayStatus application.status}}
                        </span>
                    </h3>
                </div>
                <button type="button" id="edit" class="btn p-2">
                    <img src="/images/edit.svg" alt="Edit Icon" />
                </button>
                <button type="button" id="delete" class="btn p-2">
                    <img src="/images/delete.svg" alt="Delete Icon" />
                </button>
            </div>
        </div>
        <div class="row align-items-start border-bottom">
            {{!-- Job Posting Section --}}
            <div class="row justify-content-between">
                <div class="col-6">
                    <h3>Job Posting:</h3>
                    <p class="fs-4">
                        <a href="{{ application.link_to_posting }}">
                            {{ application.link_to_posting }}
                        </a>
                    </p>
                </div>
                <div class="col-4">
                    <h3 class="star">Interest Level:  {{ displayStars application.interest_level }}</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-start border-bottom">
            {{!-- Location Section --}}
            <div class="row justify-content-start">
                <div class="col">
                    <h3>Location: {{ application.location }}</h3>
                </div>
                <div class="col">
                    <h3>
                        <span class="badge bg-pill {{getWorkSiteBadgeClass application.work_site}}"
                        >
                            {{displayWorkSite application.work_site}}
                        </span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row align-items-start border-bottom">
            {{!-- Date Applied Section --}}
            <h3>Date Applied: {{ application.application_submitted_date }}</h3>
        </div>
        <div class="row align-items-start border-bottom">
            {{!-- Notes Section --}}
            <h3>Notes: {{ application.notes }}</h3>
        </div>
    </div>
</section>

<script src="/js/application.js"></script>
